<div class="resultado__container">
  <div class="resultado__card">
    <div class="resultado__preco-container">
      <div class="resultado__preco">
        <span class="resultado__moeda">R$</span>
        <span class="resultado__valor">30</span>
        <span class="resultado__valor-centavos">,57</span>
      </div>
    </div>
    <div class="resultado__plano-container">
      <h4 class="resultado__plano-nome">Com Plano FaleMais 30</h4>
    </div>
  </div>

  <div class="resultado__card">
    <div class="resultado__preco-container">
      <div class="resultado__preco">
        <span class="resultado__moeda">R$</span>
        <span class="resultado__valor">40</span>
        <span class="resultado__valor-centavos">,00</span>
      </div>
    </div>
    <div class="resultado__plano-container">
      <h4 class="resultado__plano-nome">Sem Plano FaleMais 30</h4>
    </div>
  </div>
</div>
