<div class="resultado__container">
  <div class="resultado__card">
    <div class="resultado__preco-container">
      <div class="resultado__preco">
        <span class="resultado__moeda">R$</span>
        <span class="resultado__valor">{{totalComPlano | number: '2.'}}</span>
        <span class="resultado__valor-centavos">,{{centavosComPlano | number: '2.'}}</span>
      </div>
    </div>
    <div class="resultado__plano-container">
      <h4 class="resultado__plano-nome">Com Plano</h4>
    </div>
  </div>

  <div class="resultado__card">
    <div class="resultado__preco-container">
      <div class="resultado__preco">
        <span class="resultado__moeda">R$</span>
        <span class="resultado__valor">{{totalSemPlano | number: '2.'}}</span>
        <span class="resultado__valor-centavos">,{{centavosSemPlano | number: '2.'}}</span>
      </div>
    </div>
    <div class="resultado__plano-container">
      <h4 class="resultado__plano-nome">Sem Plano</h4>
    </div>
  </div>
</div>
