<form [formGroup]="form">
  <div class="calculadora__card">
    <div class="calculadora__param">
      <div class="calculadora__label-container" [ngClass]="{ ' calculadora__label-container--error' : showError(origem) }">
        <label for="origem">DDD de Origem</label>
        <fa-icon [icon]="getAsteriscoIcon()" aria-hidden="true"></fa-icon>
      </div>
      <div class="calculadora__input-container">
        <select formControlName="origem" id="origem" class="calculadora__input"
                [ngClass]="{ ' calculadora__input--error' : showError(origem) }">
          <option value="null" disabled selected>Selecione</option>
          <option value="11">11</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
        </select>
      </div>
      <span class="calculadora__input-error-label" [style.visibility]="showError(origem) ? 'visible' : 'hidden'">
        {{ getErrorMessage(origem) }}
      </span>
    </div>

    <div class="calculadora__param">
      <div class="calculadora__label-container" [ngClass]="{ ' calculadora__label-container--error' : showError(destino) }">
        <label for="destino">DDD de Destino</label>
        <fa-icon [icon]="getAsteriscoIcon()" aria-hidden="true"></fa-icon>
      </div>
      <div class="calculadora__input-container">
        <select formControlName="destino" id="destino" class="calculadora__input"
                [ngClass]="{ ' calculadora__input--error' : showError(destino) }">
          <option value="null" disabled selected>Selecione</option>
          <option value="11">11</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
        </select>
      </div>
      <span class="calculadora__input-error-label" [style.visibility]="showError(destino) ? 'visible' : 'hidden'">
        {{ getErrorMessage(destino) }}
      </span>
    </div>

    <div class="calculadora__param">
      <div class="calculadora__label-container" [ngClass]="{ ' calculadora__label-container--error' : showError(plano) }">
        <label for="plano">Plano FaleMais</label>
        <fa-icon [icon]="getAsteriscoIcon()" aria-hidden="true"></fa-icon>
      </div>
      <div class="calculadora__input-container">
        <select formControlName="plano" id="plano" class="calculadora__input"
                [ngClass]="{ ' calculadora__input--error' : showError(plano) }">
          <option value="null" disabled selected>Selecione</option>
          <option value="0">FaleMais 30</option>
          <option value="1">FaleMais 60</option>
          <option value="2">FaleMais 120</option>
        </select>
      </div>
      <span class="calculadora__input-error-label" [style.visibility]="showError(plano) ? 'visible' : 'hidden'">
        {{ getErrorMessage(plano) }}
      </span>
    </div>

    <div class="calculadora__param">
      <div class="calculadora__label-container" [ngClass]="{ ' calculadora__label-container--error' : showError(tempo) }">
        <label for="tempo">Tempo de Chamada</label>
        <fa-icon [icon]="getAsteriscoIcon()" aria-hidden="true"></fa-icon>
      </div>
      <div class="calculadora__input-container" [ngClass]="{ ' calculadora__input-container--error': showError(tempo) }">
        <input formControlName="tempo" id="tempo" type="number" min="1" placeholder="Preencha"
               class="calculadora__input" [ngClass]="{ ' calculadora__input--error' : showError(tempo) }">
        <fa-icon class="calculadora__input-image" [icon]="getTempoIcon()" aria-hidden="true"></fa-icon>
      </div>
      <span class="calculadora__input-error-label" [style.visibility]="showError(tempo) ? 'visible' : 'hidden'">
        {{ getErrorMessage(tempo) }}
      </span>
    </div>
  </div>
</form>

<div class="calculadora__submit-container">
  <button class="calculadora__submit-button">
    <fa-icon class="fa-sm" [icon]="getSubmitIcon()" aria-hidden="true"></fa-icon>
    <span class="calculadora__submit-button-label" (click)="simular()" >Simular</span>
  </button>
</div>
